[submodule "app/src/main/cpp/thirdparty/glm"]
	path = app/src/main/cpp/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "app/src/main/cpp/thirdparty/stb"]
	path = app/src/main/cpp/thirdparty/stb
	url = https://github.com/nothings/stb.git
